:root {
    --white: #ffffff;
    --whiteGrayBtn: #ededed;
    --red: #f05050;
    --textColor: #282828;
    --success: #3cb400;
    --warning: #ff9600;
    --danger: #f05050;
    --green: #3cb400;
    --primaryColor: #073763;
  }
  